<h1>Hello, <%= @user.username %></h1>
<a href="/logout">Logout</a>

<br><br><br><br>

<% if @user.shows.size == 0 %>
  <h3>Add A Show</h3>
<% else %>
  <h3>What would you like to watch today?</h3>
  <% @user.shows.each do |show| %>
   <a href="/shows/<%= show.id %>" target="_blank">  <%= show.name  %></a>
   <br><br>
  <% end %>
  <% end %>

<br>
<form action="/shows/new" method="get">
  <input type="submit" name="" value="Add Show">
</form>
